:root {
  --primary-color:rgb(145, 72, 56);
  --primary-color-diff:rgb(255, 255, 255);
}

*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  transition: font-size .5s ease-out;
}
a:hover {
  color: #535bf2;
  cursor: pointer;
  font-size: larger;
}
body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
#app{
  width: inherit;
  border-radius: 2px;
  overflow: hidden;
}
h1 {
  font-size: 2.5em;
  line-height: 1.1;
}
strong{
  font-weight: 700;
}
input{
  font-size: 1.5em;
}
input::placeholder{
  font-style: italic;
}
button{
  padding: 8px 12px;
  background-color: var(--primary-color);
  color: var(--primary-color-diff);
}
button:disabled{
  background-color: gray;
  cursor: not-allowed;
}